{% load static %}

<div class="side-navbar">
    <div class="sidebar">
      <div class="logo-details">
        <!-- <i class="bx bx-menu" id="btn"></i> -->
        <!-- <i class="bx bxl-c-plus-plus icon"></i> -->
        <span><i class="fab fa-speakap" style="color: #000"></i></span>
        <div class="logo_name">Sangeet</div>
        <i class="bx bx-menu show-sidebar-max" id="btn"></i>
      </div>
      <ul class="nav-list" style="margin-left: -2rem">
        <li>
          <!-- <i class="bx bx-"></i> -->
          <i class="fab fa-speakap" style="font-size : 30px;color: #FFD700; background-color: #000;"></i>
          <!-- <input type="text" placeholder="Search..." /> -->
          <span class="tooltip">Premimum</span>
        </li>
        
        <li>
          <a href="#">
            <i class="bx bx-home"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-microphone"></i>
            <span class="links_name">Podcasts</span>
          </a>
          <span class="tooltip">Podcasts</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Analytics</span>
          </a>
          <span class="tooltip">Analytics</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-folder"></i>
            <span class="links_name">Playlist</span>
          </a>
          <span class="tooltip">Playlist</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-download"></i>
            <span class="links_name">Download</span>
          </a>
          <span class="tooltip">Your Downloads</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-heart"></i>
            <span class="links_name">Liked Songs</span>
          </a>
          <span class="tooltip">Liked Songs</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
          <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <!--<img src="profile.jpg" alt="profileImg">-->
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </li>
      </ul>
    </div>
  </div>